#hero {
    height: 100vh;
    background-color: $hot;
    padding: 100px;
    margin: 0;

    p {
        font-size: 7rem;
        line-height: 2rem;
        margin: 10% 0;
        text-align: center;
    }

    p:nth-child(3)
    {
        font-size: 2rem;
    }
}
